@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('./assets/fonts/AirbnbCerealBook.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('./assets/fonts/AirbnbCerealMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('./assets/fonts/AirbnbCerealBold.ttf') format('truetype');
  font-weight: 700;
}

body {
  @apply bg-gray-50;
}

.main-container {
  @apply 2xl:container 2xl:mx-auto px-4;
}

button,
input {
  @apply focus:outline-none;
}
